@font-face {
    font-family: neu;
    src: url(fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu1;
    src: url(fonts/NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html,
body {
    width: 100%;
    height: 100%;

}

body::-webkit-scrollbar {
    display: none;
}



.main {

    position: relative;
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

.page1 {
    width: 100%;
    width: 100%;
    padding: 0px 33px;
    background-color: #EFEAE3;
}

.nav {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.nav .nav-left {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    /* border-radius: 2px solid red; */
}

.nav .nav-left h4 {
    /* height: 30px; */
    /* width: 70px; */
    cursor: pointer;
    font-size: 1.2vw;
    border: 1px solid rgba(0, 0, 0, 0.285);
    font-weight: 100;
    border-radius: 50px;
    position: relative;
    padding: 10px 20px;
    /* letter-spacing: -1px; */
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.695);
    overflow: hidden;
    z-index: 999;
}

.nav .nav-left h4 a {
    color: rgba(0, 0, 0, 0.703);
    text-decoration: none;
}

.nav .nav-left h4:hover a {
    color: white;
    text-decoration: none;
}

.nav .nav-left h4::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
    z-index: -9;

}

.nav .nav-left h4:hover::after {
    /* color: white; */
    border-radius: 0;
    bottom: 0;

}

.page1 .middle {
    height: 65vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.242);
    padding: 40px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* background-color: red; */
}

.page1 .middle .left {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

.page1 .middle .right {

    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
    position: relative;

}

.last {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0px;

}

.last video {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: 9;
}

.hero {
    height: 35vw;
    width: 44vw;
    position: absolute;
    left: -4vw;
    top: 20vw;
}

.hero1 {
    height: 100%;
    width: 100%;
    background-color: #FE330A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(15px);
    position: absolute;

}

.hero2 {
    height: 35vw;
    width: 35vw;
    background: linear-gradient(#FE330A, #ff6600);
    border-radius: 50%;
    filter: blur(30px);
    position: absolute;
    animation-name: move1;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-duration: 5s;
}

.hero3 {
    height: 35vw;
    width: 35vw;
    background: linear-gradient(#FE330A, #ff6600);
    border-radius: 50%;
    filter: blur(30px);
    position: absolute;
    animation-name: move2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-duration: 5s;
}

@keyframes move1 {
    from {
        transform: translate(20%, 10%);

    }

    to {
        transform: translate(-10%, -3%);
    }
}

@keyframes move2 {
    from {
        transform: translate(-10%, 7%);

    }

    to {
        transform: translate(15%, -5%);
    }
}

.page2 {
    min-height: 100vh;
    width: 100%;
    padding: 4vw 0vw;
    /* overflow-x: hidden; */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.251); */
    background-color: #EFEAE3;
}

.move-text {
    /* background-color: aqua; */
    white-space: nowrap;
    overflow-x: auto;
}

.move-text::-webkit-scrollbar {
    display: none;
}

.text {
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    /* overflow: hidden; */
    animation-name: move3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 15s;
}

.text h1 {
    font-size: 9vw;
    display: inline-block;
}

.gola {
    height: 4vw;
    width: 4vw;
    background-color: #FE330A;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
}


@keyframes move3 {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.part2-bottom {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7vw 4.5vw;
    position: relative;
}

.part2-bottom-left {
    position: relative;
    width: 55vw;
    /* background-color: red; */
    line-height: 4vw;
    z-index: 9;
}

.part2-bottom-left h1 {
    font-size: 4vw;
    /* z-index: 10; */
}

.part2-bottom-right {
    width: 19vw;
    min-height: 23vw;
    /* background-color: red; */
    /* padding-bottom: 0vw 2vw; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* z-index: 2; */
    /* justify-content: center; */
}

.part2-bottom-right img {
    width: 98%;
    height: 55%;
    margin-bottom: 2vw;
    border-radius: 20px;
}

.part2-bottom-right h4 {
    font-family: neu1;
    font-weight: 10;
    /* font-size: 1vw; */
}

.nichewala {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    bottom: -18vw;
    left: -2vw;
    text-transform: uppercase;
    font-family: neu1;
    font-weight: 100;
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.595);
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #FE330A;
    border-radius: 50%;
}

.motu {
    height: 30vw;
    width: 30vw;
    /* background: linear-gradient( #ff5100,#FE330A); */
    /* border-radius: 50%; */
    position: absolute;
    top: 10vw;
    left: 20vw;

    z-index: -1;
}

.motu {
    height: 25vw;
    width: 25vw;
    background: linear-gradient(#ff7300, #FE330A);
    border-radius: 50%;
    position: absolute;
    top: 10vw;
    left: 20vw;
    filter: blur(40px);
    animation-name: move4;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-duration: 5s;
    transition: all ease 0.5s;
    z-index: -1;
}

.moti {
    height: 25vw;
    width: 25vw;
    background: linear-gradient(#ff7300, #FE330A);
    border-radius: 50%;
    position: absolute;
    top: 10vw;
    left: 20vw;
    filter: blur(40px);

    /* transition: all ease 0.5s; */
    z-index: -1;
}


@keyframes move4 {
    from {
        transform: translate(0%, 15%);
    }

    to {
        transform: translate(30%, -25%);
    }
}


.part3 {
    min-height: 100vh;
    width: 100%;
    padding: 6vw 0vw;
    background-color: #EFEAE3;
}

.part3 .cont {
    position: relative;
    width: 100%;
    height: 10vw;
    /* background-color: yellow; */
    padding: 3.2vw 2vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.251);
    overflow: hidden;

}

.part3 .cont .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFA500;
    left: 0;
    top: -100%;
    transition: all ease 0.4s;
    /* z-index: 3; */
    z-index: 7;


}

.part3 .cont .element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* z-index: 9; */
}

.part3 .cont .element h1 {
    font-size: 3vw;
    z-index: 9;
}

.part3 .cont .element .right-element {
    z-index: 9;
}

.part3 .cont .element .right-element h4 {
    text-align: end;
}

.part3 .cont .element .right-element p {
    color: rgba(0, 0, 0, 0.295);
    font-family: neu1;
}

.part3 .cont:hover .mask {
    top: 0%;
}

#fixed-image {
    width: 23vw;
    height: 29vw;
    position: fixed;
    background-color: red;
    z-index: 99;
    border-radius: 20px;
    top: 29%;
    left: 50%;
    background-position: center;
    background-size: cover;
    display: none;
    transition: all ease 1s;
}

.part4 {
    min-height: 100vh;
    width: 100%;
    background-color: red;

}

.part5 {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    /* background-color: transparent; */
    z-index: 7;
    top: 200%;
}

#footer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    z-index: 8;
    bottom: 0;
    color: white;
    padding: 12vw 5vw;
    border-bottom: 2px solid white;



}

#footer .section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* position: relative; */
}

#footer .section .left {
    z-index: 8;
}

#footer .section .right {
    position: relative;
    width: 20vw;
    /* top: 0;  */
    z-index: 8;

}

#footer .section .right h4 {
    font-size: 1.3vw;

}

#footer .section .right input {
    height: 3vw;
    width: 20vw;
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid white;
}

#footer .section .right input:focus {
    outline: none;
}

.email {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-solid {
    font-size: 1.5vw;
    /* font-weight: 200; */
    color: white;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: -2.5vw;
}


.sundown {
    position: absolute;
    bottom: 0;
    /* font-size: 11vw; */
    /* border-bottom: 1px solid white ; */

}

.sundown h1 {

    font-size: 22vw;
    /* border-bottom: 1px solid white ; */
   
    

}

.loader{
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top:0;
    transition: all ease 1s;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader h1{
    font-size: 2vw;
    color: transparent;
    font-family: neu;
    position: absolute;
    opacity: 0;
    transition: all ease 1s;
    background: linear-gradient(to right, #ff6f00,#FE330A);
    -webkit-background-clip: text;
    animation-name:load ;
    animation-duration: 1s;
   animation-delay: 1s;
   animation-timing-function: linear;
}

.loader h1:nth-child(2){
    animation-delay: 2s;
   
}
.loader h1:nth-child(3){
    animation-delay: 3s;
   
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

